*{
padding:0;
margin:0;
box-sizing:border-box;
}

html{
	font-size:100%;
}

body{
	background:white;
	font-family: 'Allerta', sans-serif;
	font-size:0.62em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#gauche{
	width: 20%;
    height: 100vh;
    background: #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}

#gauche #logo{
	width: 50px;
	height: 50px;
	margin: 10px 0;
}
#gauche ul{
	list-style-type: none;
	padding: 100px 0;
	width: 80%;
}
.reg{
	padding: 0 0;
}
#gauche ul li{
	background: white;
	font-size: 2em;
	text-align: center;
	margin: 5px;
}
#gauche ul li a{
	text-decoration: none;
	color: black;
	display: block;
	width: inherit;
	padding: 1px;
}
#gauche ul li a:hover{
	color:white;
	background: grey;
	border: 2px solid grey;
}
#droite{
	width: 80%;
	height: auto;
	min-height:100vh;
	background: #dadada;
    margin-left: 20%;
}
#droite h1{
	text-align: center;
	padding: 10% 30%;
	font-size: 3em;
}
/************formulaire*****/
#droite_form{
	display: flex;
	flex-direction: column;
	padding: 0 20%;

}
#droite_form input{
	padding: 10px;
	margin: 5px 0;
}
#image_actu{
	width:100%;
	padding: 10%;
	border-radius: 2px;
}
#droite_form textarea{
	padding: 10px;
	margin: 5px 0;
	max-width: 100%;
	min-width: 100%;
	min-height: 150px;
}
#droite_form label{
	font-size: 15px;
    padding: 5px 0 0;
}
#droite_form #creer{
	width: 150px;
	color:white;
	background: #161616;
	margin: 2% 39%;
	border: 1px solid #fff;
	border-radius: 2px;
}
.pas_ok{
	color: orange;
	padding: 2% 40%;
	font-size: 20px;
}
.ok{
	color: green;
	font-size: 20px;
	padding: 2% 45%;
}

table.tab_actus{
	width: 900px;
	height: 50px;
	font-size: 15px;
	background: #CCCCCC;
	margin: 2% 20.5%;
}
.tab .tab_actus a:target{

}
table td{
	text-align: center;
	border: 1px solid white;
	background: white;
	position: relative;
}
table th{
	position: relative;
}
table td a{
	color: grey;
	text-decoration: none;
}
.dashicons-admin-tools:hover{
	color: #639af2;
}
.dashicons-no:hover{
	color:red;
}
.popup:target{
	opacity: 1;
	pointer-events: auto;/*pour éviter de cliquer*/
}
.popup{
	pointer-events: none;
	opacity: 0;
	transition: opacity 400ms ease-in;
	padding: 10px;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	position: absolute;
	top: 0;
	left: 100%;
	width: 250px;
	z-index: 2;
	background: #dadada;
	border: 1px solid black;
}
.popup span {
	top: 3px;
	right: 3px;
	position: absolute;
	z-index: 3;
	color: white;
}
.popup span a{
	color:red;
}
#bt_confirm{
	text-align: center;
	margin: 10px 0;
	font-size: 20px;
}
.bt_confirm{
	padding: 5px 10px;
	background: #dadada;
	text-decoration: none;
	font-size: 10px;
	border: 1px solid grey;
}

.bt_confirm:nth-of-type(1){
	background: #639af2;
}
.bt_confirm:nth-of-type(1):hover{
	background: #fff;
}
.bt_confirm:nth-of-type(2){
	background: transparent;
}
/**********Comptes***************/
.form_comptes{
	width: 90%;
    margin: 0px 7%;
}